@import '../../../styles/settings.scss';

.component {
  position: relative;
  margin: ($base-size * 2) 0;
  color: $color-light;
  padding-left: 20px;
  @include p-el('before') {
    content: '';
    width: ($base-size * 4);
    height: 4px;
    top: ($base-size * -1);
    left: 0;
    background: $color-dark;

  }

  strong {
    color: $color-primary;
    padding-left: 10px;
    font-size: $base-size * 2.5;
  }
}
