@import './styles/settings.scss';

.switchWrapper {
    position: relative;
    // transition: $transition;



  > :first-child ~ * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: viewsFromBottom 0.5s ease;
  }
}
